fastapi
uvicorn
python-jose
passlib[bcrypt]
pydantic
firebase-admin
httpx
aiofiles
python-multipart
torch
transformers
datasets
tokenizers
scikit-learn
pandas
numpy
flower==2.0.1
opacus
cryptography
boto3
gunicorn
pytest
python-dotenv